*{
	font-family: $body_font;
}

nav{
	.containerMenu{
	    margin-top: 20px;
	}

	a{
		text-decoration: none;
		color: white;
	}

	.enlacenav:hover{
		text-decoration: none;
		background-color: rgb(0,0,255); 
		opacity: 0.3;
		color: black;
		font-weight: bold;
	}

	.navbar-header:hover{
		background-color: transparent;
	}

	.colorRojo{
		background-color: #e91e63;
		color: white;
	}

	.colorRojo:hover{
		background-color: #e91e63;
		color: white;
	}
}

.carouselBase{
	.btnSeeMore{
		background-color: #e91e63;
		color: white;
		margin-top: 30px;
	}

	.btnSeeMore:hover{
		background-color: #e91e63;
		color: white;
	}

	.imgaenFondoSlide1, .imgaenFondoSlide2{
		width: 100%;
		height: 600px;
		background-size: cover;
		background-position: center;
	}

	.subeTextSlide{
		margin-bottom: 12%;
	}

	.imgaenFondoSlide2{
		background-image: url(../img/img_slider_2.jpg);
	}

	.imgaenFondoSlide1{
		background-image: url(../img/img_slider_1.jpg);
	}

	.tituloSlide{
		font-size: 60px;
		font-weight: bold;
	}

	.textulioSlide{
		font-size: 17px;
	}
}

.englobaCuerpito{
	.baseBlanca{
		margin: -60px 30px 0;
	    border-radius: 6px;
	}

	.main{
		position: relative;
	    z-index: 3;
	    background: #fff;
	}

	.textoArrobaDelCuerpito{
		margin-top: 50px;
	    font-size: 16px;
	    text-align: center;
	    font-weight: 400;
	    color: #999999;
	    line-height: 1.6; /* espaciado */
	}

	.info{
		padding: 70px 0 30px;
    	margin: 0 auto;
    	max-width: 360px;
    	text-align: center;
	}

	i{
		font-size: 70px;
	}

	a{
		text-decoration: none;
	}

	.infoTitulo{
		font-size: 18px;
    	font-weight: 700;
    	color: #000000;
    	text-align: center;
	}

	.parraff{
		margin: 0 0 10px;
		font-weight: 300;
	}

	.rosado{
		color: #e91e63;
	}

	.celeste{
		color: #00bcd4;
	}

	.verde{
		color: #4caf50;
	}
}