*{
	font-family: $body_font;
}

body{
	background-color: #CCCCCC;
}

/* PARTE NAV */

nav{
	.containerMenu{
	    margin-top: 20px;
	}

	a{
		text-decoration: none;
		color: $color_white;
	}

	.enlacenav:hover{
		text-decoration: none;
		background-color: rgb(0,0,255); 
		opacity: 0.3;
		color: #000000;
		font-weight: bold;
	}

	.navbar-header:hover{
		background-color: transparent;
		color: #fff;
	}

	.colorRojo{
		background-color: $color_rosado;
		color: $color_white;
	}

	.colorRojo:hover{
		background-color: $color_rosado;
		color: $color_white;
	}
}

/* FIN PARTE NAV */

/* PARTE HEADER */

.carouselBase{
	.btnSeeMore{
		background-color: $color_rosado;
		color: $color_white;
		margin-top: 30px;
	}

	.btnSeeMore:hover{
		background-color: $color_rosado;
		color: $color_white;
	}

	.imgaenFondoSlide1, .imgaenFondoSlide2{
		width: 100%;
		height: 600px;
		background-size: cover;
		background-position: center;
	}

	.subeTextSlide{
		margin-bottom: 12%;
	}

	.imgaenFondoSlide2{
		background-image: url(../img/img_slider_2.jpg);
	}

	.imgaenFondoSlide1{
		background-image: url(../img/img_slider_1.jpg);
	}

	.tituloSlide{
		font-size: 60px;
		font-weight: bold;
	}

	.textulioSlide{
		font-size: 17px;
	}
}

/* FIN HEADER */

/* PARTE CUERPO */

.englobaCuerpito{
	.baseBlanca{
		margin: -60px 30px 0;
	    border-radius: 6px;
	}

	.main{
		position: relative;
	    z-index: 3;
	    background: #fff;
	}

	/* PARTE 1 */

	.parte1{
		.textoArrobaDelCuerpito{
			margin-top: 50px;
		    font-size: 16px;
		    text-align: center;
		    font-weight: 400;
		    color: #999999;
		    line-height: 1.6; /* espaciado */
		}

		.info{
			padding: 70px 0 30px;
	    	margin: 0 auto;
	    	max-width: 360px;
	    	text-align: center;
		}

		i{
			font-size: 70px;
		}

		a{
			text-decoration: none;
		}

		.infoTitulo{
			font-size: 18px;
	    	font-weight: 700;
	    	color: #000000;
	    	text-align: center;
		}

		.parraff{
			margin: 0 0 10px;
			font-weight: 300;
			color: #999999;
		}

		.rosado{
			color: $color_rosado;
		}

		.celeste{
			color: #00bcd4;
		}

		.verde{
			color: #4caf50;
		}
	}

	/* FIN PARTE 1 */

	/* PARTE 2 */

	.parte2{
		width: 100%;
		height: 900px;
		background-size: cover;
		background-position: center;
		background-image: url(../img/img_city.jpg);
		padding: 65px 0 30px;
		color: $color_white;
		background-attachment: fixed; /* para hacer scroll */
  		overflow: scroll;

		.elementosParte2{
			padding: 0 5% 5% 5%;
		}

		.textosParteDos{
			padding-right: 8%;
		}

		.tituloParte2{
			font-weight: 900;
			font-size: 30px;
			margin-bottom: 45px;
		}

		p{
			font-size: 17px;
			font-weight: 300;
		}

		.video{
			padding-left: 20%;
		}

		.tamanoVideo{
			max-width: 100%;
    		width: 70%;
    		height: 380px;
		}

	}

	/* FIN PARTE 2 */

	/* PARTE 3 */

	.parte3{
		padding: 65px 0 70px;
		background-color: #F5F5F5;

		.tituloParte3{
			font-size: 40px;
			color: #000000;
			font-weight: 700;
		}

		.parraffParte3{
			margin: 0 0 10px;
			font-weight: 300;
			color: #999999;
			font-size: 18px;
		}

		.shopping{
			margin-top: 30px;
			height: 550px;
			padding-left: 10px;
			margin-right: -10px;
		}

		.fotParte3{ /* Base foto */
			margin-top: 30px;
			display: inline-block;
		    position: relative;
		    width: 100%;
		    height: 80vh;
		    margin-bottom: 25px;
		    border-radius: 6px;
		    color: rgba(0,0,0,.87);
		    background: $color_white;
		}

		.imgParte3{
			overflow: hidden;
		    position: relative;
		    height: 60%;
		    margin-top: -25px;
		    margin-right: 15px;
		    margin-left: 15px;
		    border-radius: 5px;
		}

		.imgParte3Foto{
			float: left;
		    width: 100%;
		    height: 100%;
		    margin: 0 !important;
		    border-radius: 6px;
		}

		.tituloProductos{
			font-size: 15px;
			text-align: center;
			color: #CC0063;
			text-decoration: none;
		}

		a, a:hover{
			text-decoration: none;
		}

		.tituloProductos:hover{
			color: #CC0063;
		}

		.productoTitulo{
			font-size: 18px;
	    	font-weight: 400;
	    	color: #000000;
	    	text-align: center;
		}

		.cajaInfoProductos{
			padding: 0 10px 0 10px;
			text-align: center;
			font-weight: 300;
		    color: #999999;
		    font-size: 14px;
		}

		.precio{
			margin-top: 5px;
    		width: 100%;
		}

		.price{
			color: #999999;
		    font-size: 20px;
		    text-align: center;
		    font-weight: lighter;
		}

		.a{
			color: #999999;
		    font-size: 20px;
		    text-decoration: none;
		}

		.top{
			padding-top: 10px;
		}
	}

	/* FIN PARTE 3 */

	/* PARTE 4 */

	.parte4{
		padding: 50px 0 70px;

		.tituloParte4{
			font-size: 40px;
			color: #000000;
			font-weight: 700;
		}

		.parraffParte4{
			margin: 0 0 10px;
			font-weight: 300;
			color: #999999;
			font-size: 18px;
		}

		.margenFotosPortf{
			margin: 0;
			padding-top: 40px;
		}

		.cajaFotoPortfolio{
		    display: inline-block;
		    position: relative;
		    width: 95%;
		    margin-bottom: 30px;
		    border-radius: 6px;
		  	z-index:0;
		  	transition: all 0.4s ease-out;
		}

		.botonsitoRosa{
			background-color: $color_rosado;
			color: $color_white;
			border: none;
		}

		.titPortParte4{
			font-size: 16px;
			color: #999999;
			font-weight: 300;
		}
		
	}

	/* FIN PARTE 4 */

	/* PARTE 5 - MEET OUr TEAM */
	.parte5{
		padding: 50px 0 70px;
		.tituloParte5{
			font-size: 40px;
			color: #000000;
			font-weight: 700;
		}

		.borderImg{
			border: 1px solid transparent;
			border-radius: 8px;
		}

		.parraffParte5{
			margin: 0 0 10px;
			font-weight: 300;
			color: #999999;
			font-size: 13px;
		}

		.paddingbottom{
			padding-bottom: 50px;
		}

		.iconosMeetOur{
			font-size: 20px;
			padding-left: 10px;
			padding-right: 10px;
			padding-top: 20px;
		}

		.pSizeMeet{
			font-size: 12px;
			color: #999999;
		}

		.fb{
			color: #4f6b9f;
		}

		.goog{
			color: #e34e43;
		}

		.twitter{
			color: #4fade9;
		}

		.linked{
			color: #0f7fb4;
		}

		.pinte{
			color: #d42d3b;
		}

		.dribble{
			color: #f585ae;
		}

		.githu{
			color: #000000;
		}

		.paddingtop{
			padding-top: 100px;
		}

	}
	/* FIN PARTE 5 */
	/* PARTE 6 */

	.parte6{
		padding: 65px 0 70px;
		background-color: #F5F5F5;

		.cajatextosSec6{
			padding: 0 20px 0 20px;
		}

		.tituloParte6{
			font-size: 35px;
			color: #000000;
			font-weight: 700;
			padding-bottom: 30px;
		}

		.parraffParte6{
			margin: 0 0 10px;
			font-weight: 300;
			color: #999999;
			font-size: 13px;
		}

		.numSec6{
			font-size: 60px;
			sup{
				font-size: 20px;
				padding-top: 101px;
				margin-left: -13px;
				position: absolute;
			}

			.small{
				font-weight: 300;
				color: #999999;
				font-size: 30px;
				position: absolute;
				margin-left: -2px;
				padding-top: 25px;
			}
		}

		.fondoWhite{
			background-color: white;
			border: 1px solid transparent;
			border-radius: 15px;
			padding: 20px;
		}

		.fondogray{
			padding: 20px;
		}

		.colorRojoSec6{
			background-color: $color_rosado;
			color: $color_white;
			border: none;
		}

	}

	/* FIN PARTE 6 */

	/* PARTE 7 */

	.parte7{
		padding: 50px 0 70px;

		.paddingbottom{
			padding-bottom: 50px;
		}

		.cliente{
			border: 1px solid transparent;
			border-radius: 200px;
			width: 150px;
		}

		.tituloParte7A{
			font-size: 40px;
			color: #000000;
			font-weight: 700;
		}

		.parraffParte7A{
			margin: 0 0 10px;
			font-weight: 300;
			color: #999999;
			font-size: 18px;
		}

		.tituloParte7{
			font-size: 25px;
			color: #000000;
			font-weight: 700;
		}

		.bajadaDeTituloSec7{
			color: #999999;
		}

		.parraffParte7{
			margin: 0 0 10px;
			font-weight: 300;
			color: #999999;
			font-size: 13px;
		}

		.cajatextosSec7{
			padding: 0 30px 0 30px;

		}

		.cajaIMGSEc7{
			padding-left: 27%;
		}
	}

	/* FIN PARTE 7 */
	/* PARTE 8 */
	.parte8{
		background-image: url(../img/about.png);
		width: 100%;
		height: 50vh;
		background-size: cover;
		background-position: center;
		margin-bottom: 20px;

		.tituloParte8{
			font-size: 40px;
			color: $color_white;
			font-weight: 700;
		}

		.bajadaDeTituloSec8{
			margin: 0 0 10px;
			font-weight: 300;
			color: $color_white;
			font-size: 18px;
		}

		.colorRojoSec8{
			background-color: $color_rosado;
			color: $color_white;
			border: 3px solid $color_rosado;
			padding: 10px;
		}

		input{
			padding: 9px;
			width: 400px;
			height: 45px;
			border: 1px solid transparent;
			border-radius: 5px;
		}

		input[placeholder]{
			color: $color_rosado;
			padding-left: 50px;
		}

		.sobresito{
			padding-left: 15px;
			position: absolute;
			font-size: 20px;
			color: $color_rosado;
			padding-top:10px;
		}

		.cajaDeElementosSEc8{
			padding-top: 100px;
		}

	}

	/* FIN PARTE 8 */
	/* PARTE 9 */
	.parte9{
		padding: 50px 0 70px;

		.paddingbottom{
			padding-bottom: 50px;
		}
		
		.tituloParte9A{
			font-size: 40px;
			color: #000000;
			font-weight: 700;
		}

		.parraffParte9A{
			margin: 0 0 10px;
			font-weight: 300;
			color: #999999;
			font-size: 18px;
		}

		.tituloParte9{
			font-size: 20px;
			color: #000000;
			font-weight: 700;
		}

		.parraffParte9{
			margin: 0 0 10px;
			font-weight: 300;
			color: #999999;
			font-size: 13px;
		}

		a{
			color: #000000;
		}

		a:hover{
			text-decoration: none;
			color: $color_rosado;
		}

		.bajadaDeTituloSec9{
			color: #999999;
		}

		.borderImgBlog{
			border: 1px solid transparent;
			border-radius: 15px;
		}

		.color1{
			color: #ee5c8e;
		}

		.color2{
			color: #57cfdb;
		}

		.color3{
			color: #f68583;
		}

	}
	/* FIN PARTE 9 */
	/* PARTE 10 */
	.parte10{
		background-image: url(../img/img_city.jpg);
		width: 100%;
		height: 100vh;
		background-size: cover;
		background-position: center;

		.paddinSec10{
			padding-left: 50px;
		}

		.paddingbottom{
			padding-bottom: 50px;
		}

		.cajatextosSec6{
			padding: 0 20px 0 20px;
		}

		.tituloParte10{
			font-size: 35px;
			color: white;
			font-weight: 700;
			padding-bottom: 30px;
			padding-top: 25px;
		}

		.parraffParte10{
			margin: 0 0 10px;
			font-weight: 300;
			color: #999999;
			font-size: 15px;
			padding-bottom: 50px;
			padding-right: 30px;
		}

		.subTitulo10{
			font-size: 25px;
			color: white;
			font-weight: 700;
			padding-bottom: 30px;
		}

		.fa-map-marker, .fa-mobile{
			color: white;
			font-size: 40px;
			padding-right: 10px;
		}

		.paddleftSec10{
			padding-left: 38px;
		}

		.paddingtop{
			padding-top: 20px;
		}

		/* Segunda parte */
		.cajaFormulario10{
			background-color: $color_white;
			padding: 10px;
			border-radius: 8px;
			position: relative;
			width: 500px;
			height: 500px;
			margin-top: 85px;
			margin-left: 90px;
		}

		.tituloContactUs{
			background-color: $color_rosado;
			padding: 10px;
			color: $color_white;
			text-align: center;
			font-size: 25px;
			font-weight: 400;
			width: 450px;
			margin: 0 auto;
			border-radius: 8px;
			margin-top: -30px;
			position: relative;
		    z-index: 9;
		    margin-bottom: 40px;
		}

		.paddingbottom10Form{
			padding-top: 30px;
		}

		input{
			border-bottom: 1px solid $color_rosado;
			border-top: none; 
			border-left: none; 
			border-right: none;
		}

		.inputCorto10{
			width: 150px;
			height: 45px;
			margin: 0 20px 0 20px;	 
		}


		.inputlargo10{
			width: 350px;
			height: 45px;
		}

		.paddingtopForm10{
			padding-top: 30px;
		}

		.mensaje10{
			padding: 10px;
			width: 350px;
			height: 200px;
			border: 1px solid $color_rosado;
		}

		.colorRojoSec10{
			background-color: $color_rosado;
			color: $color_white;
			border: 3px solid $color_rosado;
			padding: 10px;
			margin-top: 10px;
		}
	}
	/* FIN PARTE 10 */
	/* PARTE 11 */
	.parte11{
		background-color: $color_fondo_11;

		.cajaSec11{
			margin-top: 30px;
			padding-bottom: 30px;
		}

		.moverIzq{
			position: absolute;
			margin-left: 30px;
		}

		.subTitulo11{
			font-size: 20px;
			color: $color_white;
			font-weight: 700;
			padding-bottom: 30px;
		}

		.parraffParte11{
			font-weight: 300;
			color: #999999;
			font-size: 13px;
			padding-bottom: 20px;
		}

		.parraffParte11B{
			font-weight: 300;
			color: #999999;
			font-size: 11px;
			padding-bottom: 20px;
		}

		.fa{
			font-size: 20px;
			color: $color_white;
		}

		.sizeImgInsta{
			border: 1px solid transparent;
			border-radius: 5px;
			width: 80px;
			margin-bottom: 10px;
		}

	}
	/* FIN PARTE 11 */
	/* FOOTER */
	footer{
		background-color: $color_fondo_11;
		margin-top: -20px;
		padding-bottom: 30px;

		a{
			text-decoration: none;
			color: #999999;
			font-weight: 300;
		}

		a:hover{
			color: $color_rosado;
			text-decoration: none;
		}

		.footerLinks{
			padding-left: 10px;
		}

		.footerLinksfinal:hover{
			color: $color_rosado;
			text-decoration: none;
		}

		.cajaLinksfooter{
			padding-left: 50px;
			padding-top: 10px;
		}

		.footer{
			background-color: $color_fondo_11;
			width: 90%;
		}

		.textFooter{
			font-weight: 300;
			color: #999999;
			font-size: 13px;
			padding-bottom: 20px;
		}

		.derecha{
			margin-left: -81px;
			padding-top: 10px;
		}
	}

	/* FIN FOOTER */

}