*{
	font-family: $body_font;
}

body{
	background-color: #CCCCCC;
}

/* PARTE NAV */

nav{
	.containerMenu{
	    margin-top: 20px;
	}

	a{
		text-decoration: none;
		color: white;
	}

	.enlacenav:hover{
		text-decoration: none;
		background-color: rgb(0,0,255); 
		opacity: 0.3;
		color: #000000;
		font-weight: bold;
	}

	.navbar-header:hover{
		background-color: transparent;
		color: #fff;
	}

	.colorRojo{
		background-color: #e91e63;
		color: white;
	}

	.colorRojo:hover{
		background-color: #e91e63;
		color: white;
	}
}

/* FIN PARTE NAV */

/* PARTE HEADER */

.carouselBase{
	.btnSeeMore{
		background-color: #e91e63;
		color: white;
		margin-top: 30px;
	}

	.btnSeeMore:hover{
		background-color: #e91e63;
		color: white;
	}

	.imgaenFondoSlide1, .imgaenFondoSlide2{
		width: 100%;
		height: 600px;
		background-size: cover;
		background-position: center;
	}

	.subeTextSlide{
		margin-bottom: 12%;
	}

	.imgaenFondoSlide2{
		background-image: url(../img/img_slider_2.jpg);
	}

	.imgaenFondoSlide1{
		background-image: url(../img/img_slider_1.jpg);
	}

	.tituloSlide{
		font-size: 60px;
		font-weight: bold;
	}

	.textulioSlide{
		font-size: 17px;
	}
}

/* FIN HEADER */

/* PARTE CUERPO */

.englobaCuerpito{
	.baseBlanca{
		margin: -60px 30px 0;
	    border-radius: 6px;
	}

	.main{
		position: relative;
	    z-index: 3;
	    background: #fff;
	}

	/* PARTE 1 */

	.parte1{
		.textoArrobaDelCuerpito{
			margin-top: 50px;
		    font-size: 16px;
		    text-align: center;
		    font-weight: 400;
		    color: #999999;
		    line-height: 1.6; /* espaciado */
		}

		.info{
			padding: 70px 0 30px;
	    	margin: 0 auto;
	    	max-width: 360px;
	    	text-align: center;
		}

		i{
			font-size: 70px;
		}

		a{
			text-decoration: none;
		}

		.infoTitulo{
			font-size: 18px;
	    	font-weight: 700;
	    	color: #000000;
	    	text-align: center;
		}

		.parraff{
			margin: 0 0 10px;
			font-weight: 300;
			color: #999999;
		}

		.rosado{
			color: #e91e63;
		}

		.celeste{
			color: #00bcd4;
		}

		.verde{
			color: #4caf50;
		}
	}

	/* FIN PARTE 1 */

	/* PARTE 2 */

	.parte2{
		width: 100%;
		height: 900px;
		background-size: cover;
		background-position: center;
		background-image: url(../img/img_city.jpg);
		padding: 65px 0 30px;
		color: white;
		background-attachment: fixed; /* para hacer scroll */
  		overflow: scroll;

		.elementosParte2{
			padding: 0 5% 5% 5%;
		}

		.textosParteDos{
			padding-right: 8%;
		}

		.tituloParte2{
			font-weight: 900;
			font-size: 30px;
			margin-bottom: 45px;
		}

		p{
			font-size: 17px;
			font-weight: 300;
		}

		.video{
			padding-left: 20%;
		}

		.tamanoVideo{
			max-width: 100%;
    		width: 70%;
    		height: 380px;
		}

	}

	/* FIN PARTE 2 */

	/* PARTE 3 */

	.parte3{
		padding: 65px 0 70px;
		background-color: #F5F5F5;

		.tituloParte3{
			font-size: 40px;
			color: #000000;
			font-weight: 700;
		}

		.parraffParte3{
			margin: 0 0 10px;
			font-weight: 300;
			color: #999999;
			font-size: 18px;
		}

		.shopping{
			margin-top: 30px;
			height: 550px;
			padding-left: 10px;
			margin-right: -10px;
		}

		.fotParte3{ /* Base foto */
			margin-top: 30px;
			display: inline-block;
		    position: relative;
		    width: 100%;
		    height: 80vh;
		    margin-bottom: 25px;
		    border-radius: 6px;
		    color: rgba(0,0,0,.87);
		    background: white;
		}

		.imgParte3{
			overflow: hidden;
		    position: relative;
		    height: 60%;
		    margin-top: -25px;
		    margin-right: 15px;
		    margin-left: 15px;
		    border-radius: 5px;
		}

		.imgParte3Foto{
			float: left;
		    width: 100%;
		    height: 100%;
		    margin: 0 !important;
		    border-radius: 6px;
		}

		.tituloProductos{
			font-size: 15px;
			text-align: center;
			color: #CC0063;
			text-decoration: none;
		}

		a, a:hover{
			text-decoration: none;
		}

		.tituloProductos:hover{
			color: #CC0063;
		}

		.productoTitulo{
			font-size: 18px;
	    	font-weight: 400;
	    	color: #000000;
	    	text-align: center;
		}

		.cajaInfoProductos{
			padding: 0 10px 0 10px;
			text-align: center;
			font-weight: 300;
		    color: #999999;
		    font-size: 14px;
		}

		.precio{
			margin-top: 5px;
    		width: 100%;
		}

		.price{
			color: #999999;
		    font-size: 20px;
		    text-align: center;
		    font-weight: lighter;
		}

		.a{
			color: #999999;
		    font-size: 20px;
		    text-decoration: none;
		}

		.top{
			padding-top: 10px;
		}
	}

	/* FIN PARTE 3 */

	/* PARTE 4 */

	.parte4{
		padding: 50px 0 70px;

		.tituloParte4{
			font-size: 40px;
			color: #000000;
			font-weight: 700;
		}

		.parraffParte4{
			margin: 0 0 10px;
			font-weight: 300;
			color: #999999;
			font-size: 18px;
		}

		.margenFotosPortf{
			margin: 0;
			padding-top: 40px;
		}

		.cajaFotoPortfolio{
		    display: inline-block;
		    position: relative;
		    width: 95%;
		    margin-bottom: 30px;
		    border-radius: 6px;
		  	z-index:0;
		  	transition: all 0.4s ease-out;
		}

		.botonsitoRosa{
			background-color: #e91e63;
			color: white;
			border: none;
		}

		.titPortParte4{
			font-size: 16px;
			color: #999999;
			font-weight: 300;
		}
		
	}

	/* FIN PARTE 4 */

	/* PARTE 5 - MEET OUr TEAM */
	.parte5{
		padding: 50px 0 70px;
		.tituloParte5{
			font-size: 40px;
			color: #000000;
			font-weight: 700;
		}

		.borderImg{
			border: 1px solid transparent;
			border-radius: 8px;
		}

		.parraffParte5{
			margin: 0 0 10px;
			font-weight: 300;
			color: #999999;
			font-size: 13px;
		}

		.paddingbottom{
			padding-bottom: 50px;
		}

		.iconosMeetOur{
			font-size: 20px;
			padding-left: 10px;
			padding-right: 10px;
			padding-top: 20px;
		}

		.pSizeMeet{
			font-size: 12px;
			color: #999999;
		}

		.fb{
			color: #4f6b9f;
		}

		.goog{
			color: #e34e43;
		}

		.twitter{
			color: #4fade9;
		}

		.linked{
			color: #0f7fb4;
		}

		.pinte{
			color: #d42d3b;
		}

		.dribble{
			color: #f585ae;
		}

		.githu{
			color: #000000;
		}

		.paddingtop{
			padding-top: 100px;
		}

	}
	/* FIN PARTE 5 */

	.parte6{
		padding: 65px 0 70px;
		background-color: #F5F5F5;

		.cajatextosSec6{
			padding: 0 20px 0 20px;
		}

		.tituloParte6{
			font-size: 35px;
			color: #000000;
			font-weight: 700;
			padding-bottom: 30px;
		}

		.parraffParte6{
			margin: 0 0 10px;
			font-weight: 300;
			color: #999999;
			font-size: 13px;
		}

		.numSec6{
			font-size: 60px;
			sup{
				font-size: 20px;
				padding-top: 101px;
				margin-left: -13px;
				position: absolute;
			}

			.small{
				font-weight: 300;
				color: #999999;
				font-size: 30px;
				position: absolute;
				margin-left: -2px;
				padding-top: 25px;
			}
		}

		.fondoWhite{
			background-color: white;
			border: 1px solid transparent;
			border-radius: 5px;
			padding: 20px;
		}

		.fondogray{
			padding: 20px;
		}

		.colorRojoSec6{
			background-color: #e91e63;
			color: white;
			border: none;
		}

	}

}